VITE_MESSI_MINT=
VITE_RONALDO_MINT=
VITE_MESSI_MINT_DECIMALS=
VITE_RONALDO_MINT_DECIMALS=
VITE_PROGRAM_ID=
VITE_POLL_INTERVAL_MS=60000
VITE_MAX_ROUNDS_TO_FETCH=5
VITE_CLAIM_DELAY_SECS=1800
# VITE_RPC_ENDPOINT=
VITE_SERVER=devnet